<div class= "background" >
  <div class= "container">
    <div class="row">
      <div class="col-4 bg-warning bg-gradient">
        <h2 class = "h2 text-primary">Tポイント</h2>
        <% @tpoints.each do |tpoint| %>
        <div class= "m-3">
          <%= link_to image_tag(tpoint.t_image , class: "d-flex w-50 ratio ratio-4x3") , tpoint.t_link %>
          <%= link_to tpoint.t_info , tpoint.t_link , class: "h5" %>
        </div>
        <% end %>
      </div>


      <div class="col-4 bg-danger">
        <h2 class = "h2 text-white ">PayPay</h2>
        <% @pay_info.zip(@pay_images)  do |pay_info, pay_image| %>
        <div class= "m-3">
          <%= link_to image_tag(pay_image.p_src, class: "d-flex w-50 ratio ratio-4x3") ,  pay_info.p_link %>
          <%= link_to pay_info.p_info , pay_info.p_link , class: "h5 d-flex text-white"  %>
        </div>
        <% end %>
      </div>


      <div class="col-4 bg-success">
        <h2 class = "h2 text-white ">Dポイント</h2>
        <% @dpoints.each do |dpoint| %>
        <div class= "m-3">
          <%= link_to image_tag(dpoint.d_image, class: "d-flex w-50 ratio ratio-4x3") , dpoint.d_link %>
          <%= link_to dpoint.d_info , dpoint.d_link, class: "h5 d-flex text-white"  %>
          <%= link_to dpoint.d_timeline , dpoint.d_link, class: "h5 d-flex text-white" %>
        </div>
        <% end %>
      </div>


    </div>
  </div>
</div>
