<!DOCTYPE html>
<html>
  <head>
<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PV93H1N19Y"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PV93H1N19Y');
  </script>
    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>


  <body>
  <div class = "mb-5 border-bottom border-2 border-dark" >
    <p class = "d-block text-center pt-3 pb-3 h2">キャンペーン情報まとめ</p>
  </div>

    <%= yield %>
  </body>
</html>
